.button-start {
  bottom: 0;
  position: fixed;
}

.share-and-favorite-buttons {
  bottom: 30px;
  position: fixed;
}

footer {
  background-color: #464646;
  border-top: 3px solid rgb(38, 38, 38);
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  left: 0;
  padding: 25px;
  position: fixed;
  right: 0;
}

.links {
  height: 300px;
  overflow-y: scroll;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@media screen and ( max-width : 640px ) {

  body {
    background-color: #0fa36b;
  }

  .body-app {
    background-color: #0fa36b;
    height: 150px;
    margin-left: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .meals {
    align-items: center;
    background-color: #0fa36b;
    color: #464646;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 40vh;
    justify-content: center;
    margin-right: 15px;
    width: 100%;
  }

  .meals > .logo {
    animation: shake 1.5s infinite ease;
    background-color: #0fa36b;
    color: aliceblue;
    font-family: Montserrat , sans-serif;
    font-size: 1em;
    font-weight: 900;
  }

  .recipe-image {
    height: 50px;
    width: 50px;
  }

  .rocksGlass {
    animation: shake 1s infinite ease;
    max-height: 7vh;
  }
}
